In [7]:
#1.Write a function that will count how many odd numbers is present in a given list of integers. [10 min]

a = [ 10, 1,2,3,45,6,7,89,9]
count = 0

for num in a:
 if num % 2 != 0:
     print(num)
     count += 1
     
print("Total num of odds are:",count)

1
3
45
7
89
9
Total num of odds are: 6

In [11]:
#2.Write a lambda expression that will cube all the numbers in the list below num = [1,2,3,4,5,6,7,8][5 min]

cube = list(map(lambda x: x**3 ,[1,2,3,4,5,6,7,8]))
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512]

In [15]:
#3.Write a function that will take in an unknown number of arguments and multiply all of them together and run the function for these 2 sets of numbers:
#1,2,3,4,5
#12,13,14

def mul(*args):
    result = 1
    for num in args:
        result = result * num
    return result

print("multiplication of all ", mul(1,2,3,4,5))

print("multiplication of all ", mul(12,13,14))

multiplication of all  120
multiplication of all  2184

In [27]:
#Write a function apply_operation(func, x, y) that takes a function func and two numbers x and y as arguments, 
#and returns the result of calling func(x, y). 
#Demonstrate its use with different functions (e.g., addition, subtraction).

def apply_operation(fun,x,y):
 return fun(x,y)

def add(x,y):
  return x+y
print("Addition:", apply_operation(add, 10, 5))


def add(x,y):
  return x*y
print("mul:", apply_operation(add, 10, 5))

def add(x,y):
  return x-y
print("sub:", apply_operation(add, 10, 5))

Addition: 15
mul: 50
sub: 5

In [ ]:
#5.Write a program to create a function show_employee() with the following specifications:
#It should accept the employee’s name and salary.
#It should display both the name and salary.
#If the salary is not provided in the function call, it should default to 9000.

def empl(name , salary = 9000):
    print("employee name" , name)
    print("employee salary" , salary)